.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 16vw;
    grid-gap: 0.5em;
  }
  
.gallery > * {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery > :hover {
 filter: blur(4px);
 transition: all ease 0.5s;
 cursor: pointer;
}

.gallery > :nth-child(6n + 3) {
  grid-column: span 1;
  grid-row: span 2;
}

.gallery > :nth-child(6n + 2),
.gallery > :nth-child(6n + 5),
.gallery > :nth-child(6n + 6) {
  grid-column: span 2;
  grid-row: span 2;
}